<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <!--====== USEFULL META ======-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Robita Sembiring Personal Web" />
    <meta name="keywords" content="Robita Sembiring" />
    <meta name="author" content="Children, parents, Love" />

    <!--====== TITLE TAG ======-->
    <title>Robita Sembiring &amp; Personal Portfolio</title>

    <!--====== FAVICON ICON =======-->
    <link rel="shortcut icon" type="image/ico" href="<?php echo base_url().'assets/img/Robita.png'?>"/>

    <!--====== STYLESHEETS ======-->
    <link rel="stylesheet" href="<?php echo base_url().'assets/css/normalize.css'?>">
    <link rel="stylesheet" href="<?php echo base_url().'assets/css/reset.css'?>">
    <link rel="stylesheet" href="<?php echo base_url().'assets/css/animate.css'?>">
    <link rel="stylesheet" href="<?php echo base_url().'assets/css/magnific-popup.css'?>">
    <link rel="stylesheet" href="<?php echo base_url().'assets/css/slick.css'?>">
    <link rel="stylesheet" href="<?php echo base_url().'assets/css/bootstrap.min.css'?>">
    <link rel="stylesheet" href="<?php echo base_url().'assets/css/font-awesome.min.css'?>">

    <!--====== MAIN STYLESHEETS ======-->
    <link rel="stylesheet" href="<?php echo base_url().'assets/style.css'?>">
    <link rel="stylesheet" href="<?php echo base_url().'assets/css/responsive.css'?>">

    <script src="<?php echo base_url().'assets/js/vendor/modernizr-2.8.3.min.js'?>"></script>
    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--- PRELOADER -->
    <!--<div class="preeloader">
        <div class="preloader-spinner">
            <img src="<?php echo base_url().'assets/img/preloader.gif'?>" alt="">
        </div>
    </div>-->

    <!--SCROLL TO TOP-->
    <a href="#home" class="scrolltotop"><i class="fa fa-long-arrow-up"></i></a>

    <!--START TOP AREA-->
    <header class="top-area" id="home">
        <div class="top-area-bg"></div>
        <div class="header-top-area">
            <!--MAINMENU AREA-->
            <div class="mainmenu-area" id="mainmenu-area">
                <div class="mainmenu-area-bg"></div>
                <nav class="navbar">
                    <div class="container">
                        <div class="navbar-header">
                            <button class="collapsed navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-example-js-navbar-scrollspy">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a href="#home" class="navbar-brand"><img src="<?php echo base_url().'assets/img/Robita.png'?>" alt="logo"></a>
                        </div>
                        <div class="collapse navbar-collapse bs-example-js-navbar-scrollspy">
                            <ul id="nav" class="nav navbar-nav cl-effect-11">
                                <li><a href="#home">home</a></li>
                                <li><a href="#about">about</a></li>
                                <li><a href="#service">Service</a></li>
                                <li><a href="#experience">Experience</a></li>
                                <li><a href="#portfolio">Portfolio</a></li>
                                <li><a href="#testmonial">Testmonial</a></li>
                                <li><a href="#blog">Blog</a></li>
                                <li><a href="#contact">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <!--END MAINMENU AREA END-->
        </div>
        <div class="welcome-text-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="welcome-text">
                            <h6>Hi this is</h6>
                            <h1>ROBITA SEMBIRING</h1>
                            <p>INFLUENCER AND DREAMER</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="welcome-img-layer">
                <img src="<?php echo base_url().'assets/img/slider/Robita Sembiring Website.png'?>" alt="">
            </div>
        </div>
    </header>
    <!--END TOP AREA-->

    <!--ABOUT AREA-->
    <section class="about-area section-padding" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12">
                    <div class="about-image-area">
                        <img src="<?php echo base_url().'assets/img/RobitaSembiring Home.png'?>" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-md-offset-1 col-lg-offset-1 col-sm-12 col-xs-12">
                    <div class="about-content wow fadeIn">
                        <div class="about-details">
                            <h3>About Me</h3>
                            <p style="text-align: justify;">Suka bermimpi tapi seorang pejuang dalam realita. Siap mengorbankan banyak hal jika sudah "ngomongin" dampak positif bagi generasi. Sangat mencintai dunia pengajaran, itulah sebabnya terjun sebagai trainer atau pembicara dibeberapa kesempatan. Suka melihat hal-hal sederhana untuk dibagikan kepada banyak orang dalam bentuk tulisan, dengan harapan kejadian kecil dalam memberi dampak yang besar.
                            </p>
                            <p style="text-align: justify;">Topik tentang keluarga, termasuk bagaimana mendidik anak, menjadi fokus yang mendapat perhatian besar dalam banyak sesi di seminar yang dibawakan. Termasuk ketika menjadi narasumber setiap bulan pada minggu ketiga di Radio sangkakala dalam program "Reaching Out Generation"</p>
                            <p style="text-align: justify;">Ayah 1 putra ini selain membantu dalam pelayanan di sebuah Gereja bernama Christian City Church (C3) juga dipercaya sebagai dosen lepas di beberapa kampus STT di kota Surabaya.</p>
                            <p style="text-align: justify;">Selain itu, pria yang suka traveling ini punya prinsip, "hidup hanya sekali karena itu lakukan yang terbaik yang mampu engkau lakukan" </p>

                        </div>
                        <div class="skillst wow fadeIn">
                            <div class="skillbar" data-percent="90%">
                                <div class="skill-info">
                                    <div class="title">Preacher</div>
                                    <div class="count"></div>
                                </div>
                                <div class="skillbarin">
                                    <div class="count-bar"></div>
                                </div>
                            </div>
                            <div class="skillbar" data-percent="85%">
                                <div class="skill-info">
                                    <div class="title">Speaker</div>
                                    <div class="count"></div>
                                </div>
                                <div class="skillbarin">
                                    <div class="count-bar"></div>
                                </div>
                            </div>
                            <div class="skillbar" data-percent="85%">
                                <div class="skill-info">
                                    <div class="title">Trainer</div>
                                    <div class="count"></div>
                                </div>
                                <div class="skillbarin">
                                    <div class="count-bar"></div>
                                </div>
                            </div>
                            <div class="skillbar" data-percent="80%">
                                <div class="skill-info">
                                    <div class="title">Lecturer</div>
                                    <div class="count"></div>
                                </div>
                                <div class="skillbarin">
                                    <div class="count-bar"></div>
                                </div>
                            </div>
                        </div>
                        <a href="<?php echo base_url().'assets/img/Resume Robita Sembiring.jpg'?>" class="download-btn" download="CV.jpg">Download Cv</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--ABOUT AREA END-->

    <!--SERVICE AREA-->
    <section class="service-area gray-bg section-padding" id="service">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 col-sm-12 col-xs-12">
                    <div class="area-title text-center wow fadeIn">
                        <h2 class="wow fadeIn">My Services</h2>
                        <p>Mengajar bukan saja karena sebuah kesukaan, tapi bagian dari tanggung jawab. Tanggung jawab terhadap generasi yang harus dibawa kepada sesuatu yang lebih baik. Itulah sebabnya terlibat dalam pengajaran dan training adalah hal yang membanggakan.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-service text-center wow fadeIn">
                        <div class="service-icon"><i class="fa fa-mobile"></i></div>
                        <h3>Preacher</h3>
                        <p style="text-align: justify;">Menjadi pembawa kabar keselamatan yang ingin menjadikan semua orang sebagai murid KEBENARAN.</p>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-service text-center wow fadeIn">
                        <div class="service-icon"><i class="fa fa-lightbulb-o"></i></div>
                        <h3>Speaker</h3>
                        <p style="text-align: justify;">Banyak berbicara dalam seminar-seminar parenting termasuk berbicara tentang sex edukasi bagi anak-anak maupun anak remaja. dan berbicara tentang topik isu-isu keluarga terkini.</p>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-service text-center wow fadeIn">
                        <div class="service-icon"><i class="fa fa-camera"></i></div>
                        <h3>Trainer</h3>
                        <p style="text-align: justify;">Seorang pelatih yang banyak mempersiapkan guru-guru dan trainer lain agar menjadi pengajar yang hebat dan kreatif.</p>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-service text-center wow fadeIn">
                        <div class="service-icon"><i class="fa fa-laptop"></i></div>
                        <h3>Lecturer</h3>
                        <p style="text-align: justify;">Mengajar mahasiswa serta mendidik mereka untuk siap terjun kemasyarakat dan berkarya nyata disana.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SERVICE AREA END-->

    <!--EXPERIENCE AREA-->
    <section class="experience-area section-padding" id="experience">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 col-sm-12 col-xs-12">
                    <div class="area-title text-center wow fadeIn">
                        <h2 class="wow fadeIn">My Experience</h2>
                        <p>Beberapa kali pernah ke papua, serta mengajar dan melatih disana. Membuat saya berpikir bahwa "semua orang adalah cerdas, jika saja diberi kesempatan dan fasilitas yang sama</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="single-experience wow fadeIn">
                        <div class="working-organization">
                            <h5>Narasumber</h5>
                            <p>2018 - Present</p>
                        </div>
                        <h3>Radio Sangkakala </h3>
                        <p>Minggu ke-3 setiap bulannya menjadi narasumber dalam program "Reaching Out Generation" di Radio sangkakala pada pukul 20.00-21.00 WIB</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="single-experience wow fadeIn">
                        <div class="working-organization">
                            <h5>Trainer</h5>
                            <p>2018</p>
                        </div>
                        <h3>TRuE LOVE WAITS</h3>
                        <p style="text-align: justify;">Dipercaya menjadi Trainer TLW Nasional, sebuah gerakan untuk mengajak dan memotivasi anak-anak muda untuk pantang mekakukan sex sampai ke pernikahan. TLW juga memberikan platihan kepada orang tua dan pembina kaum muda
                        agar dapat mengajar dengan cara yang tepat tanpa kesan menggurui.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="single-experience wow fadeIn">
                        <div class="working-organization">
                            <h5>Dosen</h5>
                            <p>2016 - 2017</p>
                        </div>
                        <h3>STT Bethany</h3>
                        <p>Dipercaya menjadi dosen creative teaching di STT Bethany Surabaya.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="single-experience wow fadeIn">
                        <div class="working-organization">
                            <h5>Ketua Pembina</h5>
                            <p>2013 - Present</p>
                        </div>
                        <h3 >Yayasan ERI</h3>
                        <p style="text-align: justify;">Hingga saat ini dipercaya untuk membina dan melengkapi sebuah yayasan yang bergerak dalam dunia pendidikan.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="single-experience wow fadeIn">
                        <div class="working-organization">
                            <h5>Dosen</h5>
                            <p>2018 - Present</p>
                        </div>
                        <h3>Sabda Agung</h3>
                        <p style="text-align: justify;">Dipercaya menjadi dosen penghantar kitab-kitab lain/surat umum perjanjian baru</p>
                    </div>
                </div>
                
                
            </div>
        </div>
    </section>
    <!--EXPERIENCE AREA END-->

    <!--FUN FACT AREA-->
    <section class="fun-fact-area gray-bg section-padding" id="fact">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-fun-fact text-center wow fadeIn">
                        <div class="fact-icon"><img src="<?php echo base_url().'assets/img/icons/For Glory of God.png'?>" alt=""></div>
                        <p>For The Glory of God</p>
                        <!-- <h3><span class="counter">OK</span></h3>-->
                        <h3><span>OK</span></h3>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-fun-fact text-center wow fadeIn">
                        <div class="fact-icon"><img src="<?php echo base_url().'assets/img/icons/For Generation.png'?>" alt=""></div>
                        <p>For Generations</p>
                        <h3><span>OK</span> </h3>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-fun-fact text-center wow fadeIn">
                        <div class="fact-icon"><img src="<?php echo base_url().'assets/img/icons/For Family.png'?>" alt=""></div>
                        <p>For Family</p>
                        <h3><span>OK</span> </h3>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-fun-fact text-center wow fadeIn">
                        <div class="fact-icon"><img src="<?php echo base_url().'assets/img/icons/For a Better Nation.png'?>" alt=""></div>
                        <p>For Better Nation</p>
                        <h3><span >OK</span> </h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--FUN FACT AREA END-->

    <!--PORTFOLIO AREA-->
    <section class="portfolio-area section-padding" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 col-sm-12 col-xs-12">
                    <div class="area-title text-center wow fadeIn">
                        <h2 class="wow fadeIn">My Portfolio</h2>
                        <p>Tidak ada moment yang sempurna namun sebuah foto dapat menceritakan 1000 makna</p>
                    </div>
                </div>
            </div>
            <div class="row portfolio-list">
                <div class="portfolio-items col-md-4 col-lg-4 col-sm-6 col-xs-12 web">
                    <div class="single-portfolio relative">
                        <div class="gallery-img">
                            <img src="<?php echo base_url().'assets/img/portfolio/1/Pelatihan Robita Sembiring.png'?>" alt="">
                        </div>
                        <div class="portfolio-details vcenter">
                            <a class="portfolio-popup" href="<?php echo base_url().'assets/img/portfolio/1/Pelatihan Robita Sembiring.png'?>" data-effect="mfp-zoom-in"><i class="fa fa-expand"></i></a>
                            <div class="portfolio-hidding">
                                <h3>Pelatihan</h3>
                                <p>Trainer</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-items col-md-4 col-lg-4 col-sm-6 col-xs-12 graphic">
                    <div class="single-portfolio relative">
                        <div class="gallery-img">
                            <img src="<?php echo base_url().'assets/img/portfolio/2/Boneka Panggung Robita Sembiring.png'?>" alt="">
                        </div>
                        <div class="portfolio-details vcenter">
                            <a class="portfolio-popup" href="assets/img/portfolio/2/Boneka Panggung Robita Sembiring.png" data-effect="mfp-zoom-in"><i class="fa fa-expand"></i></a>
                            <div class="portfolio-hidding">
                                <h3>Pelatihan</h3>
                                <p>Trainer</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-items col-md-4 col-lg-4 col-sm-6 col-xs-12 print web">
                    <div class="single-portfolio relative">
                        <div class="gallery-img">
                            <img src="<?php echo base_url().'assets/img/portfolio/1/Seminar Robita Sembiring.png'?>" alt="">
                        </div>
                        <div class="portfolio-details vcenter">
                            <a class="portfolio-popup" href="<?php echo base_url().'assets/img/portfolio/1/Seminar Robita Sembiring.png'?>" data-effect="mfp-zoom-in"><i class="fa fa-expand"></i></a>
                            <div class="portfolio-hidding">
                                <h3>Seminar</h3>
                                <p>Speaker</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-items col-md-4 col-lg-4 col-sm-6 col-xs-12 graphic">
                    <div class="single-portfolio relative">
                        <div class="gallery-img">
                            <img src="<?php echo base_url().'assets/img/portfolio/1/Workshop Robita Sembiring.png'?>" alt="">
                        </div>
                        <div class="portfolio-details vcenter">
                            <a class="portfolio-popup" href="<?php echo base_url().'assets/img/portfolio/1/Workshop Robita Sembiring.png'?>" data-effect="mfp-zoom-in"><i class="fa fa-expand"></i></a>
                            <div class="portfolio-hidding">
                                <h3>Workshop</h3>
                                <p>Pemateri</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-items col-md-4 col-lg-4 col-sm-6 col-xs-12 print web">
                    <div class="single-portfolio relative">
                        <div class="gallery-img">
                            <img src="<?php echo base_url().'assets/img/portfolio/2/Pemateri Robita Sembiring.png'?>" alt="">
                        </div>
                        <div class="portfolio-details vcenter">
                            <a class="portfolio-popup" href="<?php echo base_url().'assets/img/portfolio/2/Pemateri Robita Sembiring.png'?>" data-effect="mfp-zoom-in"><i class="fa fa-expand"></i></a>
                            <div class="portfolio-hidding">
                                <h3>Seminar</h3>
                                <p>Pemateri</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-items col-md-4 col-lg-4 col-sm-6 col-xs-12 illustration">
                    <div class="single-portfolio relative">
                        <div class="gallery-img">
                            <img src="<?php echo base_url().'assets/img/portfolio/2/Pojok Ceria Robita Sembiring.png'?>" alt="">
                        </div>
                        <div class="portfolio-details vcenter">
                            <a class="portfolio-popup" href="<?php echo base_url().'assets/img/portfolio/2/Pojok Ceria Robita Sembiring.png'?>" data-effect="mfp-zoom-in"><i class="fa fa-expand"></i></a>
                            <div class="portfolio-hidding">
                                <h3>Pojok Ceria</h3>
                                <p>Pembicara</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-items col-md-4 col-lg-4 col-sm-6 col-xs-12 graphic illustration">
                    <div class="single-portfolio relative">
                        <div class="gallery-img">
                            <img src="<?php echo base_url().'assets/img/portfolio/2/Robita Sembiring dan TLW.png'?>" alt="">
                        </div>
                        <div class="portfolio-details vcenter">
                            <a class="portfolio-popup" href="<?php echo base_url().'assets/img/portfolio/2/Robita Sembiring dan TLW.png'?>" data-effect="mfp-zoom-in"><i class="fa fa-expand"></i></a>
                            <div class="portfolio-hidding">
                                <h3>TLW</h3>
                                <p>Pembicara</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-items col-md-4 col-lg-4 col-sm-6 col-xs-12 print">
                    <div class="single-portfolio relative">
                        <div class="gallery-img">
                            <img src="<?php echo base_url().'assets/img/portfolio/2/Workshop Robita Sembiring di Jawa Timur.png'?>" alt="">
                        </div>
                        <div class="portfolio-details vcenter">
                            <a class="portfolio-popup" href="<?php echo base_url().'assets/img/portfolio/2/Workshop Robita Sembiring di Jawa Timur.png'?>" data-effect="mfp-zoom-in"><i class="fa fa-expand"></i></a>
                            <div class="portfolio-hidding">
                                <h3>Workshop</h3>
                                <p>Pembicara</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-items col-md-4 col-lg-4 col-sm-6 col-xs-12 illustration">
                    <div class="single-portfolio relative">
                        <div class="gallery-img">
                            <img src="<?php echo base_url().'assets/img/portfolio/2/Pembicara Robita Sembiring.png'?>" alt="">
                        </div>
                        <div class="portfolio-details vcenter">
                            <a class="portfolio-popup" href="<?php echo base_url().'assets/img/portfolio/2/Pembicara Robita Sembiring.png'?>" data-effect="mfp-zoom-in"><i class="fa fa-expand"></i></a>
                            <div class="portfolio-hidding">
                                <h3>Seminar</h3>
                                <p>Pembicara</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--PORTFOLIO AREA END-->


    <!--PORTFOLIO AREA-->
    <section class="portfolio-area section-padding" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 col-sm-12 col-xs-12">
                    <div class="area-title text-center wow fadeIn">
                        <h2 class="wow fadeIn">My Portfolio</h2>
                        <p>Tidak ada moment yang sempurna namun sebuah foto dapat menceritakan 1000 makna</p>
                    </div>
                </div>
            </div>
            <div class="row portfolio-list">
                <div class="portfolio-items col-md-4 col-lg-4 col-sm-6 col-xs-12 web">
                    <div class="single-portfolio relative">
                        <div class="gallery-img">
                            <img src="http://localhost/robita/assets/img/portfolio/1/Pelatihan Robita Sembiring.png" alt="">
                        </div>
                        <div class="portfolio-details vcenter">
                            <a class="portfolio-popup" href="http://localhost/robita/assets/img/portfolio/1/Pelatihan Robita Sembiring.png" data-effect="mfp-zoom-in"><i class="fa fa-expand"></i></a>
                            <div class="portfolio-hidding">
                                <h3>Pelatihan</h3>
                                <p>Trainer</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-items col-md-4 col-lg-4 col-sm-6 col-xs-12 graphic">
                    <div class="single-portfolio relative">
                        <div class="gallery-img">
                            <img src="img/portfolio/2/Boneka Panggung Robita Sembiring.png" alt="">
                        </div>
                        <div class="portfolio-details vcenter">
                            <a class="portfolio-popup" href="img/portfolio/2/Boneka Panggung Robita Sembiring.png" data-effect="mfp-zoom-in"><i class="fa fa-expand"></i></a>
                            <div class="portfolio-hidding">
                                <h3>Pelatihan</h3>
                                <p>Trainer</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-items col-md-4 col-lg-4 col-sm-6 col-xs-12 print web">
                    <div class="single-portfolio relative">
                        <div class="gallery-img">
                            <img src="img/portfolio/1/Seminar Robita Sembiring.png" alt="">
                        </div>
                        <div class="portfolio-details vcenter">
                            <a class="portfolio-popup" href="img/portfolio/1/Seminar Robita Sembiring.png" data-effect="mfp-zoom-in"><i class="fa fa-expand"></i></a>
                            <div class="portfolio-hidding">
                                <h3>Seminar</h3>
                                <p>Speaker</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-items col-md-4 col-lg-4 col-sm-6 col-xs-12 graphic">
                    <div class="single-portfolio relative">
                        <div class="gallery-img">
                            <img src="img/portfolio/1/Workshop Robita Sembiring.png" alt="">
                        </div>
                        <div class="portfolio-details vcenter">
                            <a class="portfolio-popup" href="img/portfolio/1/Workshop Robita Sembiring.png" data-effect="mfp-zoom-in"><i class="fa fa-expand"></i></a>
                            <div class="portfolio-hidding">
                                <h3>Workshop</h3>
                                <p>Pemateri</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-items col-md-4 col-lg-4 col-sm-6 col-xs-12 print web">
                    <div class="single-portfolio relative">
                        <div class="gallery-img">
                            <img src="img/portfolio/2/Pemateri Robita Sembiring.png" alt="">
                        </div>
                        <div class="portfolio-details vcenter">
                            <a class="portfolio-popup" href="img/portfolio/2/Pemateri Robita Sembiring.png" data-effect="mfp-zoom-in"><i class="fa fa-expand"></i></a>
                            <div class="portfolio-hidding">
                                <h3>Seminar</h3>
                                <p>Pemateri</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-items col-md-4 col-lg-4 col-sm-6 col-xs-12 illustration">
                    <div class="single-portfolio relative">
                        <div class="gallery-img">
                            <img src="img/portfolio/2/Pojok Ceria Robita Sembiring.png" alt="">
                        </div>
                        <div class="portfolio-details vcenter">
                            <a class="portfolio-popup" href="img/portfolio/2/Pojok Ceria Robita Sembiring.png" data-effect="mfp-zoom-in"><i class="fa fa-expand"></i></a>
                            <div class="portfolio-hidding">
                                <h3>Pojok Ceria</h3>
                                <p>Pembicara</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-items col-md-4 col-lg-4 col-sm-6 col-xs-12 graphic illustration">
                    <div class="single-portfolio relative">
                        <div class="gallery-img">
                            <img src="img/portfolio/2/Robita Sembiring dan TLW.png" alt="">
                        </div>
                        <div class="portfolio-details vcenter">
                            <a class="portfolio-popup" href="img/portfolio/2/Robita Sembiring dan TLW.png" data-effect="mfp-zoom-in"><i class="fa fa-expand"></i></a>
                            <div class="portfolio-hidding">
                                <h3>TLW</h3>
                                <p>Pembicara</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-items col-md-4 col-lg-4 col-sm-6 col-xs-12 print">
                    <div class="single-portfolio relative">
                        <div class="gallery-img">
                            <img src="img/portfolio/2/Workshop Robita Sembiring di Jawa Timur.png" alt="">
                        </div>
                        <div class="portfolio-details vcenter">
                            <a class="portfolio-popup" href="img/portfolio/2/Workshop Robita Sembiring di Jawa Timur.png" data-effect="mfp-zoom-in"><i class="fa fa-expand"></i></a>
                            <div class="portfolio-hidding">
                                <h3>Workshop</h3>
                                <p>Pembicara</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-items col-md-4 col-lg-4 col-sm-6 col-xs-12 illustration">
                    <div class="single-portfolio relative">
                        <div class="gallery-img">
                            <img src="img/portfolio/2/Pembicara Robita Sembiring.png" alt="">
                        </div>
                        <div class="portfolio-details vcenter">
                            <a class="portfolio-popup" href="img/portfolio/2/Pembicara Robita Sembiring.png" data-effect="mfp-zoom-in"><i class="fa fa-expand"></i></a>
                            <div class="portfolio-hidding">
                                <h3>Seminar</h3>
                                <p>Pembicara</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--PORTFOLIO AREA END-->


    <!--TESTMONIAL AREA-->
    <section class="testmonial-area gray-bg section-padding" id="testmonial">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-10 col-lg-offset-1 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                            <div class="testmonial-member-image-slider">
                                <div class="single-member-img">
                                    <img src="<?php echo base_url().'assets/img/testmonial/Heren Tjung.jpg'?>" alt="">
                                </div>
                                <div class="single-member-img">
                                    <img src="<?php echo base_url().'assets/img/testmonial/Wahyu wepe Pramudya.jpg'?>" alt="">
                                </div>
                                <div class="single-member-img">
                                    <img src="<?php echo base_url().'assets/img/testmonial/Toninardi.jpg'?>" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                            <div class="testmonial-text-slider">
                                <div class="single-testmonial">
                                    <div class="testmonial-author-details">
                                        <p>Robita Sembiring, adalah pembicara yang amat kreatif dan bersemangat. Kreatifitasnya yang seperti taka da habisnya itu membuat pengajarannya selalu menarik. Beliau sangat berpengalaman dalam pelayanan anak dan tetap menarik kala berhadapan dengan remaja. Beliau juga tak sungkan berbagi ilmu dan kepeduliannya, karena beliau menjadi dosen dan pembicara berbagai seminar</p>
                                    </div>
                                    <p>Heren Tjung (Penulis buku "Membongkar Rahasi Porngrafi", pembicara, Direktur dan pemegang lisensi TLW Indonesia)</p>
                                </div>
                                <div class="single-testmonial">
                                    <div class="testmonial-author-details">
                                        <p>Temukan tulisan-tulisan parenting yang syarat makna dan aplikatif di robitasembiring.com</p>
                                    </div>
                                    <p>Wahyu "Wepe" Parumudya (Penulis buku, Pembicara, pendeta GKI Ngagel Surabaya, story teller)</p>
                                </div>
                                <div class="single-testmonial">
                                    <div class="testmonial-author-details">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud ellamco laboris nisi ut aliquip ex ea commodo consequat</p>
                                    </div>
                                    <p>Toninardi Wijono (Pemerhati Anak, Pembicara, Gembala Sidang Gereja Victory Indonesia "C3 HOE -  SURABAYA", Pimpinanan ABC Movement Surabaya)</p>
                                </div>
                            </div>
                            <div class="testmonial-thumbnail-slider">
                                <div class="single-tesmonial-thumb">
                                    <img src="<?php echo base_url().'assets/img/testmonial/Heren Tjung.jpg'?>" alt="">
                                </div>
                                <div class="single-tesmonial-thumb">
                                    <img src="<?php echo base_url().'assets/img/testmonial/Wahyu wepe Pramudya.jpg'?>" alt="">
                                </div>
                                <div class="single-tesmonial-thumb">
                                    <img src="<?php echo base_url().'assets/img/testmonial/Toninardi.jpg'?>" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--TESTMONIAL AREA END-->



    <!--BLOG AREA2-->
    <section class="blog-area padding-top" id="blog">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 col-sm-12 col-xs-12">
                    <div class="area-title text-center wow fadeIn">
                        <h2>LATEST NEWS</h2>
                        <p>Kehidupan yang menginspisasi bisa didapat dari kejadian sederhana
                        dalam hidup sehari-hari yang dituangkan dalam sebuah tulisan kecil</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <?php foreach($artikel as $artikel){ ?>
                <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                    <div class="single-blog text-center wow fadeIn">
                        <div class="post-thumbnail"><img src="<?php echo base_url().'assets/img/blog/'.$artikel->gambar?>" alt=""></div>
                        <div class="blog-post-details">
                            <p class="blog-meta"><a href="#"><i class="fa fa-user"></i> By: Admin</a><a href="#"><i class="fa fa-calendar"></i> <?php echo $artikel->tgl_input; ?></a></p>
                            <h3><a href="<?php echo base_url().'baca/artikel/'.$artikel->id_artikel?>"><?php echo $artikel->judul_artikel; ?></a></h3>
                            <?php echo substr($artikel->isi,0,150).'[....]'; ?>
                            <div class="read-more-and-post-meta">
                                <a href="<?php echo base_url().'baca/artikel/'.$artikel->id_artikel?>" class="read-more">Read More</a>
                                <p class="blog-meta"><a href="#"><i class="fa fa-heart-o"></i> 255 likes</a><a href="#"><i class="fa fa-comment"></i> 256 comments</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <?php }?>
                
            </div>
        </div>
    </section>
    <!--BLOG AREA END-->

    <!--CONTACT AREA-->
    <section class="contact-area gray-bg padding-top" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="contact-area-details">
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                <div class="contact-form-area wow fadeIn">
                                    <h2>Contact Me</h2>
                                    <div class="contact-form">
                                        <form action="#" id="contact-form" method="post">
                                            <div class="form-group" id="name-field">
                                                <div class="form-input">
                                                    <input type="text" class="form-control" id="form-name" name="form-name" placeholder="Name.." required>
                                                </div>
                                            </div>
                                            <div class="form-group" id="email-field">
                                                <div class="form-input">
                                                    <input type="email" class="form-control" id="form-email" name="form-email" placeholder="Email.." required>
                                                </div>
                                            </div>
                                            <div class="form-group" id="phone-field">
                                                <div class="form-input">
                                                    <input type="text" class="form-control" id="form-phone" name="form-phone" placeholder="Subject">
                                                </div>
                                            </div>
                                            <div class="form-group" id="message-field">
                                                <div class="form-input">
                                                    <textarea class="form-control" rows="6" id="form-message" name="form-message" placeholder="Your Message Here..." required></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit">send message</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1 col-sm-12 col-xs-12">
                                <div class="footer-right-area wow fadeIn">
                                    <h2>Contact Address</h2>
                                    <div class="footer-right-contact">
                                        <div class="single-contact">
                                            <div class="contact-icon">
                                                <i class="fa fa-map-marker"></i>
                                            </div>
                                            <p>Royal Paka Residence A-20, Gunung Anyar - Surabaya </p>
                                        </div>
                                        <div class="single-contact">
                                            <div class="contact-icon">
                                                <i class="fa fa-envelope"></i>
                                            </div>
                                            <p><a href="mailto:robitasembiring@gmail.com">Robitasembiring@gmail.com</a></p>
                                        </div>
                                        <div class="single-contact">
                                            <div class="contact-icon">
                                                <i class="fa fa-phone"></i>
                                            </div>
                                            <p><a href="calto:+6282143995899">082143995899</a></p>
                                            <p><a href="calto:+6285883759612">085883759612</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--CONTACT AREA END-->

    <!--FOOER AREA-->
    <div class="footer-area gray-bg">
        <div class="container">
            <div class="row wow fadeIn">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="social-bookmark">
                        <ul>
                            <li><a href="https://www.facebook.com/robitasembiring/"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.instagram.com/robitasembiring/"><i class="fa fa-instagram"></i></a></li>
                            <!--<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>-->
                        </ul>
                    </div>
                    <div class="footer-copyright text-center">
                        <p>Copyright  &copy;2018 Web Design by <a href="https://flashcom.id"> FlashcomID</a> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--FOOER AREA END-->


    <!--====== SCRIPTS JS ======-->
    <script src="<?php echo base_url().'/assets/js/vendor/jquery-1.12.4.min.js'?>"></script>
    <script src="<?php echo base_url().'/assets/js/vendor/bootstrap.min.js'?>"></script>


    <!--====== PLUGINS JS ======-->
    <script src="<?php echo base_url().'assets/js/vendor/jquery.easing.1.3.js'?>"></script>
    <script src="<?php echo base_url().'assets/js/vendor/jquery-migrate-1.2.1.min.js'?>"></script>
    <script src="<?php echo base_url().'assets/js/vendor/jquery.appear.js'?>"></script>
    <script src="<?php echo base_url().'assets/js/imagesloaded.pkgd.min.js'?>"></script>
    <script src="<?php echo base_url().'assets/js/masonry.pkgd.min.js'?>"></script>
    <script src="<?php echo base_url().'assets/js/jquery.magnific-popup.min.js'?>"></script>
    <script src="<?php echo base_url().'assets/js/slick.min.js'?>"></script>
    <script src="<?php echo base_url().'assets/js/waypoints.min.js'?>"></script>
    <script src="<?php echo base_url().'assets/js/jquery.counterup.min.'?>"></script>
    <script src="<?php echo base_url().'assets/js/wow.min.js'?>"></script>
    <script src="<?php echo base_url().'assets/js/contact-form.js'?>"></script>
    <script src="<?php echo base_url().'assets/js/jquery.sticky.js'?>"></script>
    <!--===== ACTIVE JS=====-->
    <script src="<?php echo base_url().'assets/js/main.js'?>"></script>

</body>

</html>
